/* 
    Created on : 18 nov. 2014, 12:58:02
    Author     : SEEMULLERJ_INFO & OLIVEIRAS_INFO
*/

.btn, .form-control, .img-thumbnail, .panel, .panel-heading{
    border-radius: 0px;
}

.img-thumbnail:hover{
    border-color: #89E894;
    border-width: 3px;
}

.btn-info, .btn-info:focus, .btn-info:active{
    background-color: #7790cb;
    border-color: #7790cb;
}
.btn-info:hover{
    background-color: #4364b0;
    border-color: #4364b0;
}

.btn a{
    color: white;
}

.btn a:hover{
    color: white;
}

.form-signin {
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin h3{
    font-weight: bold;
    font-size: 32px;
    text-align: left;
}

.dropdown-menu, .dropdown, .dropdown-toggle{
    text-align: right;
    border-radius: 0px;
}

#pending-image{
    text-align: center;
    margin-top: 10px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 644px;
    height: 20px;
    margin: 0 auto;
}