/* 
    Created on : 18 nov. 2014, 12:58:02
    Author     : SEEMULLERJ_INFO & OLIVEIRAS_INFO
*/

.btn, .form-control, .img-thumbnail, .panel, .panel-heading{
    border-radius: 0px;
}

.img-thumbnail:hover{
    border-color: cyan;
}