/* 
    Created on : 18 nov. 2014, 12:58:02
    Author     : SEEMULLERJ_INFO & OLIVEIRAS_INFO
*/

.btn, .form-control, .img-thumbnail, .panel, .panel-heading, .alert{
    border-radius: 0px;
}

.img-thumbnail:hover{
    border-color: #89E894;
    border-width: 3px;
}

.btn-info, .btn-info:focus, .btn-info:active{
    background-color: #7790cb;
    border-color: #7790cb;
}
.btn-info:hover{
    background-color: #4364b0;
    border-color: #4364b0;
}

.btn a{
    color: white;
}

.btn a:hover{
    color: white;
}

.form-signin {
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin h3{
    font-weight: bold;
    font-size: 32px;
    text-align: left;
}

.dropdown-menu, .dropdown, .dropdown-toggle{
    text-align: right;
    border-radius: 0px;
}

#pending-image{
    text-align: center;
    margin-top: 10px;
}

footer{
    position: absolute;
    bottom: 0;
    width: auto;
    height: 40px;
    margin: 0 auto;
}

#replaySound{
    margin-top: 20px;
    margin-bottom: 20px;
}

#dropzone{
    height: 280px;
    width: 320px;
    border: solid 3px #959595;
    text-align: center;
    color: #959595;
    margin: auto;
}

#game{
    height: auto;
    width: auto;
    display: none;
    text-align: center;
}
#dropzone .img-animal{
    /*margin-left: 35%;*/
    display: block;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}
#victory, #defeat{
    border: solid 1px #03c03c;
    display: none;
    padding: 20px;
    margin: 20px;
}
#defeat{
    border: solid 1px #c00329;
}
#animals{
    background-color: #f8f8f8;
    padding: 20px;
    margin: auto;
}

#game .panel-body{
    height: 230px;
}